* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(28, 52, 80, 0.75)),
    url(../images/page.png);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar img {
  width: 100px;
  height: auto;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px; /*Adjust the margin to position the card */
  color: white;
  /*height: 100vh;*/
  flex-direction: column;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
}

.content h1 {
  font-size: 70px;
  margin-top: 60px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  padding: 15px 0;
  text-align: center;
  margin: 20px auto;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#login-btn,
#register-btn {
 margin: 0;
 color: #fff;
}


.button1 {width: 200px;}
.button2 {
 width: 75%;
 height: 75%
}
.button3 {
  width: 10%;
  height: 10%;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.text-white {
  color: white;
}
