.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 100px;
  height: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(28, 52, 80, 1));
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: auto;
  text-align: center;
  color: white;
}

.card-body {
  font-size: 16px;
  text-align: center;
  color: rgb(245, 237, 237);
  flex-grow: 1;
}

.card-footer {
  font-size: 14px;
  color: rgb(190, 186, 186);
  font-style: italic;
  text-align: right;
  display: flex;
  justify-content: 20px;
  margin-top: 20px
}

.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-add-content {
  font-size: 48px;
  color: rgb(190, 186, 186);
  max-width: 100px;
}

.form-box {
 width: 380px;
 height: 420px;
 position: relative;
 margin: 6% auto; 
 background: linear-gradient(rgba(28, 52, 80, 1), rgba(0, 0, 0, 1));
 padding: 5px;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form-box1 {
  justify-content: center;
}

.signup-line {
 position: absolute;
 bottom: 10px;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 width: 100%;
}

.button-box {
 width: 220px;
 margin: 35px auto;
 margin-top: 30px;
 position: relative;
 box-shadow: 0 0 20px 9px #1c3450bf;
 border-radius: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.toggle-btn {
 padding: 10px 30px;
 cursor: pointer;
 background: transparent;
 border: 0;
 outline: none;
 position: relative;
}

.toggle-btn button {
  padding: inherit;
}

#btn {
 top: 0;
 left: 0;
 position: absolute;
 width: 110px;
 height: 100%;
 background: linear-gradient(to right,#00827a, #009688);
 border-radius: 30px;
 transition: .5s;
}

.socials{
 margin: 30px auto;
 text-align: center;
 display: flex;
 justify-content: center;
}

.socials img {
  margin: 0 12px;
  width: 30px; 
  height: 30px;
  filter: brightness(150%) saturate(150%) hue-rotate(90deg);
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}

.input-group {
  top: 100px;
  position: absolute;
  width: 280px;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

#login {
  left: 50px;
}

#register {
  left: 50px;
}

input {
  color: #fff;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
}
