{% extends "base.html" %}

{% block title %}
  FlipDeck - new deck
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="../static/css/styles2.css">
{% endblock %}
{% block body %}
     <div class="content">
       <div class="form-box form-box1">
         <form action="/decks/create" method="POST">
             <label for="Question">Question:</label><br>
             <input type="text" class="input-field" name="Question" required>
             <label for="Answer">Answer:</label><br>
             <input type="text" class="input-field" name="Answer" required>
             <Label for="Explanation">Explain(Optional):</label><br>
             <input type="text" class="input-field" name="Explanation">
             <button type="submit" class="button button1"><span></span>ENTER</button>
           </form>
         </div>
           </div>
{% endblock %}
