{% extends "base.html" %}

{% block title %}
  FlipDeck - Deck
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="../static/css/styles2.css">
{% endblock %}
{% block body %}
      <div class="content">
        <div class="card-container">
        {% for deck in deck %}
            <div class="card">
              <div class="card-header">
                <h3>{{ deck.title }}</h3>
              </div>
              <div class="card-body"></div>
              <div class="card-footer">
                <p>{{ deck.card_count }} cards</p>
              </div>
            </div>
        {% endfor %}
        </div>
        <form action="/decks/create" method="GET">
    <button class="button button1" type="submit"><span></span>ADD NEW DECK</button>
  </form>

      </div>
{% endblock %}
```
