<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlipDeck - Flashcards</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="banner"></div>
    <div class="navbar">
      <img src="../static/images/logo.png" alt="Logo" />
    </div>

    <div class="content">
      <h1>STUDY MADE EASY</h1>
      <p>Create flashcards and have fun studying</p>
      <form action="/signup" method="GET">
        <a href="signup"><button class="button button1"><span></span>SIGN UP</button></a>
      </form>
           </div>
    </div>
  </body>
</html>
