{% extends "base.html" %}

{% block title %}
  FlipDeck - Sign Up
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="../static/css/styles2.css">
{% endblock %}

{% block body %}
<div class="content">
  <div class="form-box">
    <div class="button-box">  
      <h2> REGISTER </h2>
    </div>
    <form id="register" class="input-group" action="/register" method="POST">
      <input type="text" class="input-field" name="name" placeholder="Username" required /> 
      <input type="email" class="input-field" name="email" placeholder="Email" required />
      <input type="password" class="input-field" name="password1" placeholder="Password" required />
      <input type="password" class="input-field" name="password2" placeholder="Confirm Password" required />
      <button type="submit" class="button button1"><span></span>SIGN UP</button>
    </form>
  </div>
</div> 
{% endblock %}

