<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlipDeck - Sign Up</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../../static/css/styles2.css" />
  </head>
  <body>
    <div class="banner"></div>
    <div class="navbar">
      <img src="../static/images/logo.png" alt="Logo" />
    </div>

    <div class="content">
      <div class="container">
      <h1>Create an Account</h1>
      <div class="card card2">
      <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="email" name="email" placeholder="email" required />
        <button type="submit" class="button button1"><span></span>SIGN UP</button>
      </form>
      {% if message %}
      <p class="error">{{ message }}</p>
      {% endif %}
      </div>
      </div>
    </div>
  </body>
</html>
